div.voucher-privacy.privacy {

	div.canvas {
		background-color: white;
		padding: 50px 70px;
		text-align: left;
		margin: 0 auto;
		margin-top: 20px;
		max-width: 1000px;
		font-size: 16px;

		@include respond-to(mobile){
			padding: 10px 10px;
			padding-top: 40px;
		}
	}
}