body.voucher-uwvouchercode.uwvouchercode {
	background-image: url(../img/bg-step2.jpg);
}

div.voucher-uwvouchercode.uwvouchercode {
	overflow: auto;
	max-width: 1000px;
	width: 100%;
	margin: 40px auto 0 auto;
	box-sizing: border-box;
	@include respond-to(mobile){
		margin: 50px auto 0 auto;
	}
	div.canvas {
		background-color: white;
		padding: 50px 70px 70px 80px;
		text-align: center;
		margin-top: 20px;
		@include respond-to(mobile){
			padding: 10px 10px;
		}

		h1 {
			font-size: 37px;
			font-family: 'BT Futura W01';
			color: rgb(4, 55, 104);
			text-transform: uppercase;
			font-weight: 500;

			@include respond-to(mobile){
				font-size: 20px;
				font-family: "Futura W04";
				font-weight: 200;
			}
		}

		h8 {
			font-family: 'BT Futura W01';
			color: rgb(4, 55, 104);
			text-transform: uppercase;
			font-size: 37px;
			font-weight: 500;

			@include respond-to(mobile){
				display: inline-block;
				font-size: 25px;
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}


		h2 {
			font-size: 23px;
			font-family: "Futura W04";
			font-weight: 200;
			color: rgb(4, 55, 104);
		}

		div.summery {
			background-color: #edf7fb;
			overflow: auto;
			ul {
				margin: 0;
				padding: 0;
				li {
					display: block;
					width: 49%;
					margin: 0;
					padding: 0;
					&.col {
						padding-right: 20px;
						padding-bottom: 20px;
						padding-top: 20px;
						img {
							float: right;
							@include respond-to(mobile){
								float: none;
							}
							&.plus {
								float: left;
								position: relative;
								top: -50px;
								@include respond-to(mobile){
									display: none;
								}
							}
						}
						h3 {
							font-size: 20px;
							@include respond-to(mobile){
								font-size: 16px;
								display: block;
							}
						}
						float: right;
					}
				}
			}
		}
		div.vouchercode {
			p {
				float: right;
				display: block;
				margin-top: 5px;
			}

			div.container {
				background-color: #fed230;
				text-transform: uppercase;
				color: white;
				width: 100%;
				margin-top: 5px;
				padding-bottom: 10px;
				padding-top: 10px;

				font-size: 25px;
				font-family: 'BT Futura W01';
				font-weight: 500;
				span {
					& > span {
						color: red;
						text-transform: none;
					}
				}

			}
		}
		div.hoewerkthet {
			margin-bottom: 30px;
			ul {
				margin: 0;
				padding: 0;
				display: block;
				li {
					width: 200px;
					vertical-align: top;
					text-align: center;

					span.uniekecode {
						margin-top: 80px;
						font-size: 14.02px;
						font-family: 'BT Futura W01';
						font-weight: 500;
						display: inline-block;
						color: #043768;
					}
					div.split {
						float: right;
						width: 1px;
						background-color: #fed230;
						height: 200px;
						margin-left: 10px;
						vertical-align: middle;
						margin-top: 50px;
					}
					div.content {
						display: inline-block;
						width: 170px;
						font-size: 14px;
						a {
							text-decoration: none;
							color: black;
						}
					}
					span {
						&.step12 {
							@include use-sprite(step12, 0, 0, 0, 0);
						}
						&.step3 {
							@include use-sprite(step3, 0, 0, 0, 0);
						}
						&.step4 {
							@include use-sprite(step4, 0, 0, 0, 0);
						}
						&.shirt {
							margin-top: 35px;
							margin-bottom: 4px;
							@include use-sprite(shirt, 0, 0, 0, 0);
						}
						&.envelop {
							margin-top: 46px;
							margin-bottom: 40px;
							@include use-sprite(envelop, 0, 0, 0, 0);
						}
					}
					.hr {
						margin: 20px 0;
						@include filter-gradient(#ffffff, #ffffff, horizontal); // IE6-9
						@include background-image(linear-gradient(left, rgba(255,255,255,0.7) 0%,rgba(4,55,104,0.99) 46%,rgba(4,55,104,1) 47%,rgba(4,55,104,1) 49%,rgba(9,59,107,1) 50%,rgba(255,255,255,0.69) 100%));						height: 2px;
						border: 0;
					}

					display: inline-block;

				}
			}
		}
	}
}