body.voucher-aankopen.uwbestelling {
	background-image: url(../img/bg-step2.jpg);
}
div.voucher-aankopen.uwbestelling {
	overflow: auto;
	max-width: 1000px;
	width: 100%;
	margin: 40px auto 0 auto;
	box-sizing: border-box;


	@include respond-to(mobile){
		margin: 50px auto 0 auto;
	}

	a.form-button {
		font-family: 'Myriad W01';
		text-transform: uppercase;
		color: white;
		font-weight: 400;
		display: inline-block;
		height: 45px;
		text-decoration: none;
		background-color: #043767;
		margin-top: 20px;
		box-shadow: 0.5px 0.866px 3px 0px rgba(0, 0, 0, 0.43);
		width: 172px;
		height: 44px;
		float: right;
		text-align: center;
		line-height: 45px;
		border-radius: 22.5px;
		font-size: 20px;
		@include respond-to(mobile){
			float: none;
			width: 90%;
		}

	}

	.alert {
		display: none;
	}


	div.canvas {
		& > hr {
			display: none;
			@include respond-to(mobile){
				display: block;
			}
		}



		div.login{
//			display: none;
		}
		div.pay {

			display: none;
//			display: block;

			div.form-group.has-error{
				input[type=text], input[type=password] {
					border: 1px solid #a94442;
				}
			}

			input[type=email] {
				&:focus{
				    outline: 0;
				}
				border-radius: 10px;
				border: 0;
				height: 46px;
				width: 90%;
				font-size: 15px;
				font-family:'Graphie W01', Arial, Helvetica;
				color: rgba(51, 51, 51, 0.6);
				box-shadow: inset 0px 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
				padding-left: 20px;
				margin-bottom: 10px;
				@include respond-to(mobile){
					width: 100%;
					border: 1px solid black;
				}
			}
			h7 {
				font-size: 20px;
				font-family: 'BT Futura W01';
				color: rgb(4, 55, 104);
				display: block;
				margin-top: 20px;
			}

			span.airmilesContainer {
				color: #9fc9da;
				font-size: 26px;
			}

			span.airmilesSaldoContainer {
				color: #9fc9da;
				font-size: 26px;
			}

			div.btnContainer {
				@include respond-to(mobile){
					text-align: center;
				}
			}

			span.totalRow {
				display: block;
				text-align: right;
				font-size: 22px;
				font-family: 'BT Futura W01';
				color: rgb(4, 55, 104);
				font-weight: 500;
				@include respond-to(mobile){
					text-align: center;
				}

			}
		}
		div.alert {
			h4 {
				font-size: 16px;
			}
		}
		background-color: white;
		padding: 50px 70px;
		text-align: center;
		margin-top: 20px;
		@include respond-to(mobile){
			padding: 10px 10px;
			padding-top: 40px;
		}
		h1 {
			font-size: 37px;
			font-family: 'BT Futura W01';
			color: rgb(4, 55, 104);
			font-weight: bold;
			text-transform: uppercase;
			margin: 0;
			@include respond-to(mobile){
				font-family:'Graphie W01', Arial, Helvetica;
				font-weight: 100;
				font-size: 30px;
				text-transform: none;
				margin-bottom: 10px;
			}
		}
		h6 {
			font-size: 19px;
			font-family:'Graphie W01', Arial, Helvetica;
			color: rgba(39, 39, 39, 0.902);
			font-weight: 100;
			margin: 0;
			@include respond-to(mobile){
				font-size: 12px;
			}
		}
		ul {
			display: block;
			padding: 0;
			margin: 20px 0 0 0;
			overflow: auto;
			li {
				display: block;
				float: left;
				width: 49%;
				@include respond-to(mobile){
					width: 100%;
				}
				&.form {
					text-align: left;
					padding-left: 60px;
					margin-top: 30px;
					@include respond-to(mobile){
						padding-left: 0;
					}
					.btnContainer {
						@include respond-to(mobile){
							width: 100%;
							text-align: center;
						}
					}
					& ul {
						& > li {
							display: block;
							width: 100%;
							i {
								color: #7e91c9;
							}
						}
					}
					h2 {
						font-size: 30px;
						font-family:'Graphie W01', Arial, Helvetica;
						color: rgb(4, 55, 104);
						margin: 0;
						font-weight: 300;
					}
					form {
						input[type=text], input[type=password] {
							&:focus{
							    outline: 0;
							}
							border-radius: 10px;
							border: 0;
							height: 46px;
							width: 90%;
							font-size: 15px;
							font-family:'Graphie W01', Arial, Helvetica;
							color: rgba(51, 51, 51, 0.6);
							box-shadow: inset 0px 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
							padding-left: 20px;
							margin-bottom: 10px;
							@include respond-to(mobile){
								border: 1px solid black;
								width: 100%;
							}
						}
						div.form-group.has-error{
							input[type=text], input[type=password] {
								border: 1px solid #a94442;
							}
						}
					}
				}
				div.arrow {
					width: 0px;
					height: 0px;
					border-top: 48px solid transparent;
					border-bottom: 48px solid transparent;
					border-left: 48px solid #c4dde7;
					display: block;
					position: relative;
					left: -60px;
					top: -30px;
					margin-right: -60px;
					float: left;
					@include respond-to(mobile){
						display: none;
					}
				}
				div.header {
					background-color: #c4dde7;
					height: 97px;
					padding: 20px 0 0 40px;
					text-align: left;
					span.bollen {
						@include use-sprite(bollen-110, 0, 0, 0, 0);
						float: right;
						position: relative;
						top: -10px;
						margin-bottom: -10px;
						right: 10px;
					}
					h2 {
						font-size: 37px;
						font-family: 'BT Futura W01';
						color: #043768;
						text-transform: uppercase;
						color: rgb(4, 55, 104);
						font-weight: bold;
						text-transform: uppercase;
						margin: 0;
						@include respond-to(mobile){
							font-size: 25px;
						}
					}
					h6 {
						margin: 0;
					}
				}

				div.content {
					background-color: #edf7fb;
					padding-top: 30px;
					ul {
						padding: 0;
						margin: 0;
						li {
							vertical-align: top;
							width: 49%;
							display: inline-block;
							margin: 0;
							padding: 0;
							text-align: center;
							&.fox {
								padding-left: 10px;
								p {
									margin-top: 20px;
									font-size: 12px;
									line-height: 12px;
								}
							}
							h3 {
								font-size: 20px;
								margin: 0;
								@include respond-to(mobile){
									font-size: 15px;
									margin-bottom: 20px;
								}
							}
						}
					}
				}
			}
		}
	}

}