@import "compass";

body.voucher.index {
}

div.voucher.index {
	overflow: auto;
	max-width: 1000px;
	width: 100%;
	margin: 80px auto 0 auto;
	box-sizing: border-box;
	@include respond-to(mobile){
		margin: 50px auto 0 auto;
	}


	div.billboard {
		overflow: auto;
		@include respond-to(mobile){
			margin-right: 20px;
			margin-left: 20px;
		}

		div.container {
			width: 520px;
			float: right;
			overflow: auto;
			@include respond-to(mobile){
				width: 100%;
			}
		}

		a {
			font-family: 'Myriad W01';
			text-transform: uppercase;
			color: black;
			font-weight: 400;
			display: inline-block;
			height: 45px;
			text-decoration: none;
			background-color: white;
			box-shadow: 0.5px 0.866px 3px 0px rgba(0, 0, 0, 0.43);
			width: 172px;
			height: 44px;
			text-align: center;
			line-height: 45px;
			border-radius: 22.5px;
			position: relative;
			top: -30px;
			left: 30px;
			padding-right: -30px;
			padding-bottom: -30px;
			font-size: 18px;
		}
		span.am-bollen {
			@include use-sprite(bollen, 0, 0, 0, 0);
			position: relative;
			top: -60px;
			right: 0px;
			float: right;
			@include respond-to(mobile){
				position: relative;
				top: -20px;
				right: auto;
				margin-right: 10px;
			}
		}
		div.counter {
			position:relative;
			text-align: right;
			font-family: 'BT Futura W01';
			font-weight: 200;
			color: white;
			font-size: 17px;
			line-height: 41px;
			@include respond-to(mobile){
					font-size: 15px;
			}
			span.days {
				height: 41px;
				width: 45px;
				display: inline-block;
				background-color: #ffeecc;
				color: #e10f21;
				font-size: 24px;
				text-align: center;
				border-radius: 10px;
				font-weight: 300;
			}
			span.bold {
				font-weight: 200;
				font-size: 18px;
			}
		}
		div.yellow {
			background-color: #fed230;
			color: #e10f21;
			width: 500px;
			padding: 40px 0 80px 20px;
			margin-top: 40px;
			@include respond-to(mobile){
				padding: 40px 20px 80px 20px;
				width: 100%;
			}
			span.arrow {
				width: 0px;
				height: 0px;
				border-left: 25px solid transparent;
				border-right: 25px solid transparent;
				border-bottom: 25px solid #fed230;
				display: block;
				position: relative;
				top: -40px;
				padding-bottom: -60px;
				float: right;
				margin-right: 35px;
				@include respond-to(mobile){
					margin-right: 55px;
				}

			}
			span {
				display: block;
				&.line1 {
					font-family: 'BT Futura W01';
					font-size: 21px;
					line-height: 29px;
					@include respond-to(mobile){
						font-size: 16px;
						line-height: 18px;
					}
				}
				&.line2 {
					font-family: 'BT Futura W01';
					line-height: 40px;
					font-size: 37px;
					font-weight: 500;
					text-transform: uppercase;
					@include respond-to(mobile){
						font-size: 20px;
						line-height: 22px;
					}
				}
				&.line3 {
					font-family: 'Myriad W01';
					font-size: 25px;
					line-height: 28px;
					font-weight: 200;
					text-transform: uppercase;
					@include respond-to(mobile){
						font-size: 20px;
						line-height: 22px;
					}
				}
				&.line4 {
					font-family: 'BT Futura W01';
					font-size: 19px;
					font-weight: 200;
					color: white;
					font-weight: 500;
					@include respond-to(mobile){
						font-size: 15px;
					}
				}
				&.line5 {
					font-family: 'BT Futura W01';
					font-size: 16px;
					font-weight: 200;
					color: white;
					font-weight: 100;
					@include respond-to(mobile){
						font-size: 12px;
					}
				}
			}
		}
	}

	div.maincontent {
		background-color: white;
		margin-top: 30px;
		margin-bottom: 0;
		text-align: center;
		padding: 60px 20px;
		padding-bottom: 0;
		box-shadow: 100px 100px 100px 100px -5px #333;


		a.orderbutton {
			background-color: #043767;
			font-family: 'BT Futura W01';
			font-size: 20px;
			font-weight: 100;
			text-decoration: none;
			text-transform: uppercase;
			box-shadow: 0.5px 0.866px 3px 0px rgba(0, 0, 0, 0.43);
			color: white;
			height: 50px;
			display: inline-block;
			border-radius: 25px;
			line-height: 50px;
			padding: 0 20px 0 20px;
			margin-top: 30px;
			margin-bottom: 30px;
			font-style: 20px;
			min-width: 170px;
		}

		@include respond-to(mobile){
			padding: 0;
		}
		h1 {
			font-family: 'BT Futura W01';
			font-weight: 500;
			text-transform: uppercase;
			color: #043768;
			@include respond-to(mobile){
				font-size: 26px;
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		p.intro {
			font-family: 'BT Futura W01';
			color: rgba(39, 39, 39, 0.8);
			font-size: 23px;
			@include respond-to(mobile){
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		div.whatdoweget {

			display: table;
			margin-top: 30px;
			text-align: center;
			width: 100%;
			div.container{
				background-color: #edf7fb;
				width: 90%;
				@include respond-to(mobile){
					width: 100%;
				}
			}
			h2 {
				font-family: 'BT Futura W01';
				font-size: 20px;
				color: #043768;
				@include respond-to(mobile){
					font-size: 20px;
				}
			}
			div.col {
//				display: table-cell;
				display: inline-block;
				padding-bottom: 20px;
				padding-top: 20px;
				vertical-align: top;
				text-align: left;
				@include respond-to(mobile){
					text-align: center;
				}
				&.col1, &.col3 {
					width: 43%;
					span.devices {
						@include use-sprite(devices, 0, 0, 0, 0);
						float: right;
						margin-left: 10px;
						margin-bottom: 20px;
						display: inline-block;
						@include respond-to(mobile){
							float: none;
						}
					}
					span.avatar {
						@include use-sprite(avatar, 0, 0, 0, 0);
						float: right;
						@include respond-to(mobile){
							float: none;
						}
					}
					span.text {
						display: block;
						font-size: 13px;
						font-family: 'BT Futura W01';
						color: rgba(4, 55, 103, 0.8);
						text-align: left;
						line-height: 13px;
						@include respond-to(mobile){
							font-size: 11px;
						}
						i {
							font-size: 25px;
							font-style: normal;
							@include respond-to(mobile){
								font-size: 18px;
							}

						}

					}
				}


				&.col1 {
					padding-left: 20px;
					@include respond-to(mobile){
						padding-left: 0;
					}

					h2 {
						text-align: center;
						display: inline-block;
//						width: 210px;
						@include respond-to(mobile){
							width: auto;

						}
					}
				}
				&.col3 {
					text-align: center;
					padding-right: 20px;
					@include respond-to(mobile){
						padding-right: 0;
					}
					span.text {
						display: block;
						text-align: center;
					}

					h2 {
						text-align: center;
						display: inline-block;
						width: 210px;
						@include respond-to(mobile){
							width: auto;
						}
					}
				}
				&.col2 {
					width: 6%;
					vertical-align: middle;
					text-align: center;
					span.plus {
						position: relative;
						top: 70px;
						@include use-sprite(plus, 0, 0, 0, 0);
						@include respond-to(mobile){
							display: none;
						}
					}
				}
			}
		}
		div.hoewerkthet {
			margin-top: 30px;
			margin-bottom: 30px;
			h3 {
				margin-bottom: 20px;
				@include respond-to(mobile){
					font-size: 25px;
				}
			}
			ul {
				margin: 0;
				padding: 0;
				display: block;
				li {
					width: 150px;
					vertical-align: top;
					div.split {
						float: right;
						width: 1px;
						background-color: #fed230;
						height: 200px;
						margin-left: 10px;
						vertical-align: middle;
						margin-top: 50px;
					}
					div.content {
						width: 135px;
						font-size: 14px;
						a {
							text-decoration: none;
							color: black;
						}
					}
					span {
						&.step12 {
							@include use-sprite(step12, 0, 0, 0, 0);
						}
						&.step3 {
							@include use-sprite(step3, 0, 0, 0, 0);
						}
						&.step4 {
							@include use-sprite(step4, 0, 0, 0, 0);
						}
						&.shirt {
							margin-top: 35px;
							margin-bottom: 4px;
							@include use-sprite(shirt, 0, 0, 0, 0);
						}
						&.envelop {
							margin-top: 46px;
							margin-bottom: 40px;
							@include use-sprite(envelop, 0, 0, 0, 0);
						}
					}
					.hr {
						margin: 20px 0;
						@include filter-gradient(#ffffff, #ffffff, horizontal); // IE6-9
						@include background-image(linear-gradient(left, rgba(255,255,255,0.7) 0%,rgba(4,55,104,0.99) 46%,rgba(4,55,104,1) 47%,rgba(4,55,104,1) 49%,rgba(9,59,107,1) 50%,rgba(255,255,255,0.69) 100%));						height: 2px;
						border: 0;
					}

					display: inline-block;

				}
			}
		}
		div.sumup {
			ul {
				margin: 0;
				padding: 0;
			}
			h3 {
				font-size: 40px;
			}
			li.col {
				width: 49%;
				display: inline-block;
				vertical-align: top;
				text-align: center;
				p {
					font-size: 17px;
					color: rgba(39, 39, 39, 0.8);

				}

				div.header {
					height: 220px;
					vertical-align: bottom;
					display: table-cell;
					padding-bottom: 20px;
					@include respond-to(mobile){
						height: auto;
					}
				}

				span {
					&.avatar {
						display: inline-block;
						width: 100%;
						text-align: center;
						& > img {
							display: inline-block;
							max-width: 220px;
						}
//						background-image: url(../img/avatar-groot.png);
//						background-size: 100% auto;
//						width: 251px;
//						height: 315px;
					}
					&.devices {
						& > span {
							background-color: #fed230;
							width: 108px;
							height: 108px;
							border-radius: 54px;
							display: block;
							text-align: center;
							color: #e10f21;
							font-family: 'Myriad W01';
							font-weight: 200;
							text-transform: uppercase;
							padding-top: 20px;
							float: right;
							& > span {
								font-family: 'BT Futura W01';
								font-weight: 500;
								font-size: 33px;
								display: block;
							}

						}
						display: inline-block;
						background-image: url(../img/devices-groot.png);
						background-size: 100% auto;
						width: 410px;
						height: 268px;
					}
				}
			}
			h4 {
				margin: 0;

			}
			h5 {
				margin: 0;
			}
			&.flexslider.tmpFlexSlider > div > ul > li {
				h4 {
					font-size: 33px;

				}

//				padding: 0 20px;
				& > span {
					width: 90%;
					background-repeat: no-repeat;

				}
				&> div.header {
					width: 100%;
					display: block;
				}
			}
		}

		div.faq {
			margin-top: 30px;
			margin-bottom: 50px;
			ul {
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					width: 31%;
					color: white;
					font-family: 'BT Futura W01';
					text-align: left;
					margin-right: 10px;
					@include respond-to(mobile) {
						width: 90%;
						margin-bottom: 20px;
					}

					& > div.collapsed {
						padding: 20px;
						& > div {
							height: 100px;
							a {
								font-size: 19px;
								font-weight: 500;
								text-decoration: none
							}
						}
						a {
							font-weight: 200;
							color: white;
							text-decoration: none;
							span {
								text-decoration: underline;
							}
						}
					}

					div.expanded {
						h1, h2, h3, h4, {
							color: white;
						}
						padding: 10px;
						display: none;
						background-color: #043768;
					}
					div.collapsed {
						background-color: #043768;
					}
				}
			}
		}
	}
}