<div class="cart-steps" >
    <div class="page-row page-steps ">
        <div class="step step1">
            <div class="eclipse sprite-eclipseplain"><h2>STAP 1</h2></div>
            <p>Klik op bestellen</p>
        </div>
        <div class="step active step2">
            <div class="eclipse sprite-eclipseplainactive"><h2>STAP 2</h2></div>
            <p>Verifieer je gegevens &amp; betaal</p>
        </div>
            <div class="step step3">
            <div class="eclipse sprite-eclipseplain"><h2>STAP 3</h2></div>
            <p>Rond jouw verzoek af</p>
        </div>        
            <div class="step step4">
            <div class="eclipse sprite-eclipseplain"><h2>STAP 4</h2></div>
            <p>Activeren bij FOX Sports</p>
        </div>        
    </div>
</div>
<div class="page-row cart-wrap">
    <div class="page-row">
        <h1>Je bestelling</h1>
        <img class="cart-header-image" src="<?php echo $this->basepath()?>/img/cart-banner.jpg">
        <div class="page-block-inverted cart-header">
            <div class="sprite-cart-eredivisie-logo cart-header-image"></div> 
            <div class="sprite-cart-knvb-logo cart-header-image"></div>
            <p>2 maanden lang wekelijks uren spectaculair Eredivisievoetbal kijken op FOX Sports Eredivisie. Beleef vervolgens de spannende race om het kampioenschap van de Eredivisie.</p>
            <h2>500<br>Air Miles</h2>
       </div>
   </div>
   <div class="page-row cart-block">
       <h1 class="">Tweede aankoop</h1>
       <div class="page-block-inverted cart">
        <p>U staat op het punt om de aankoop voor een tweede of meerdere keer te doen. Weet u zeker. bla bla bla. kijk in je mail.</p>
        <a href="<?= $this->url('voucher/uwvouchercode', array('force' => 'force', 'time' => time())); ?>"><div class="sprite-cart-confirm-button cart-confirm-button pull-right">Bevestig je bestelling &amp; betaal</div></a>
</div>
<?php $this->headScript()->captureStart() ?>

    $(function() {
       if(<?= $this->formdata['error'] ? $this->formdata['error'] : 0 ?> != 0)
       showError(<?= $this->formdata['error'] ?>); 
    });
<?php $this->headScript()->captureEnd() ?>