<div class="home-header">
	<div class="billboard">
		<div class="container">
			<div class="counter">
				Deze actie is afgelopen.
			</div>
			<div class="yellow">
<!--				<span class="arrow"></span> -->
				<span class="line1">Exclusief bij Air Miles FOX Sports voordeel!</span>
				<span class="line2">2 persoonlijke shirts</span>
				<span class="line3">+2 maanden fox sports abonnement voor 10 Euro per maand</span>
				<span class="line4">Totaal pakket twv 80 Euro <span class="mbr"></span>voor 80 Air Miles</span>
			</div>
			<span class="am-bollen"></span>
		</div>
	</div>
	<div class="steps">
		<span>4 eenvoudige stappen:</span>
		<ul>
			<li>
				<span class="number"><u>1</u><i class="fa fa-check fa-lg"></i></span>
				<span class="text oneline">Klik op bestellen</span>
			</li>
			<li>
				<span class="number"><u>2</u><i class="fa fa-check fa-lg"></i></span>
				<span class="text">Login met uw Air Miles account &amp; betaal</span>
			</li>
			<li>
				<span class="number"><u>3</u><i class="fa fa-check fa-lg"></i></span>
				<span class="text">Activeer je vouchercode bij FOX Sports</span>
			</li>
			<li>
				<span class="number"><u>4</u><i class="fa fa-check fa-lg"></i></span>
				<span class="text twoline last">Stel je shirt samen</span>
			</li>
		</ul>
	</div>
	<div class="maincontent">
		<h1>De actie is afgelopen</h1>
		<p class="intro">Deze speciale actie was samengesteld door Shell &amp; FOX Sports. </p>
		<div class="whatdoweget">
			<div class="container">
				<div class="col col1">
					<span class="devices"></span>
					<h2>2 maanden <span class="dbr"></span>FOX Sports<span class="dbr"></span> abonnement.</h2>
					<span class="text">
						Geniet van live nationaal en internationaal topvoetbal. U betaalt de eerste 2 maanden <i>&euro;</i> 10,- per maand (normaal <i>&euro;</i>24,95 p.m.).
					</span>

				</div>
				<div class="col col2">
					<span class="plus"></span>
				</div>
				<div class="col col3">
					<span class="avatar"></span>
					<h2>2<span class="dbr"></span> Persoonlijke<span class="dbr"></span> shirts twv<span class="dbr"></span>  49,90 Euro</h2>
					<span class="text">
						Shirt is per stuk <i>&euro;</i>24,95
					</span>
				</div>
			</div>
		</div>

		<hr />
		<div class="hoewerkthet">
			<h3>Hoe werkt het?</h3>
			<div class="flexslider flexslider1">
				<ul class="slides">
					<li>
						<div class="split"></div>
						<div class="content">
							<span class="step12"></span>
							<div class="hr"></div>
							U koopt voor <br />80 Air Miles<br /> een unieke<br /> voucher code<br /> twv &euro; 80,00
						</div>
					</li>
					<li>
						<div class="split"></div>
						<div class="content">
							<span class="envelop"></span>
							<div class="hr"></div>
							U ontvangt<br />per e-mail uw<br />unieke<br />voucher code.
						</div>
					</li>
					<li>
						<div class="split"></div>
						<div class="content">
							<span class="step3"></span>
							<div class="hr"></div>
							U registreert zich<br />bij FOX Sports.<br />
							<br />
							U ontvangt<br />2 maanden<br />het FOX Sports<br />totaal abonnement.<br />tegen een betaling van 10 euro per maand.
						</div>
					</li>
					<li>
						<div class="split"></div>
						<div class="content">
							<span class="envelop"></span>
							<div class="hr"></div>
							Na uw FOX Sports<br />registratie ontvangt<br />u een e-mail met<br />2 unieke<br />voucher codes<br />om uw twee<br />persoonlijke shirts te<br />maken.
						</div>
					</li>
					<li>
						<div class="split"></div>
						<div class="content">
							<span class="step4"></span>
							<div class="hr"></div>
							Op <a href="https://www.my-shirt.nl" target="_blank">www.my-shirt.nl</a><br />maakt u<br />uiteindelijk uw twee<br />persoonlijke t-shirts.
						</div>
					</li>
					<li>
						<div class="content">
							<span class="shirt"></span>
							<div class="hr"></div>
							Stel je tenue<br />samen, stel je<br />eigen karakter<br />samen en<br />bestel twee<br />persoonlijke shirts.
						</div>
					</li>
				</ul>
			</div>
		</div>
		<hr />
		<div class="sumup flexslider flexslider2">
			<ul class="slides">
				<li class="col">
					<div class="header">
						<h4>2 maanden<span class="dbr"></span> FOX Sports<span class="dbr"></span> Abonnement</h4>
						<h5>voor &euro;10 per maand</h5>
					</div>
					<span class="devices">
					</span>
					<p>Kijk alle wedstrijden en FOX Sport live, waar jij wilt; thuis op de TV of op mobiel, laptop, tablet via 3g, 4g of wifi. Krijg toegang tot wel 13 extra online kanalen.</p>
				</li>
				<li class="col">
					<div class="header">
						<h4>2 persoonlijke<span class="dbr"></span> shirts</h4>
					</div>
					<span class="avatar"><img src="<?php echo $this->basePath(); ?>/img/avatar-groot.png"></span>
					<p>Kies een houding, stel je eigen tenue samen, stel je eigen karakter samen, kies model en maat shirt en bestellen.</p>
				</li>
			</ul>
		</div>
		<hr />
		<div class="faq">
			<h3>Vragen?</h3>
			<ul>
				<li>
					<div class="collapsed">
						<div>
							<a href="javascript:;">Actievoorwaarden</a>
						</div>
						<a href="javascript:;"><span>Lees meer</span> <i class="fa fa-play"></i></a>
					</div>
					<div class="expanded">
						<h1>ACTIEVOORWAARDEN</h1>
						<p><strong>Actie</strong></p>
						<p>Dubbel voordeel alleen voor Air Miles spaarders!</p>
						<p>Deze unieke actie voor Air Miles spaarders loopt van 23 februari t/m 3 maart 2015. Samen met Shell biedt FOX Sports een unieke actie aan: voor 80 Air Miles, 80 Euro voordeel!</p>
						<p>Abonneer je nu op het FOX Sports combi pakket en betaal de eerste twee maanden slechts &euro; 10,- per maand (normaal € 24,95 p.m.). Kijk in maart al live naar de toppers: PSV – Ajax, Liverpool Manchester City en AS Roma tegen Juventus</p>
						<p>Daarbij krijg je via Air Miles niet één, maar liefst twee gratis persoonlijke t-shirts met een totale waarde van € 49,90. Maak je eigen persoonlijke t-shirt, met jouw gezicht, in het tenue van jouw eigen club.</p>
						<p>Jouw totale voordeel loopt dus op tot € 80,-.</p>
						<p>Let op: de code die je per email ontvangt voor het afsluiten van FOX Sports met korting is geldig t/m 31 maart 2015.</p>
						<p><strong>Ontwerpen T-shirt</strong><br />Na het afsluiten van het FOX Sports abonnement op <a href="http://www.foxsports.nl/airmiles">www.foxsports.nl/airmiles</a> krijg je per mail twee unieke codes opgestuurd. Met deze codes kan via <a href="http://www.my-shirt.nl" target="_blank">www.my-shirt.nl</a> je eigen unieke shirt ontworpen worden. Let op: de levertijd voor het shirt bedraagt circa 2 a 3 weken. Het shirt kan niet geruild worden.</p>
						<p><strong>Aansluiting FOX Sports</strong><br />Het aansluiten van FOX Sports is in een paar minuten eenvoudig te doen. Na het betalen van 80 Airmiles ontvangt u de exclusieve kortingscode met een waarde van 80 Euro. Met deze code gaat u naar <a href="http://www.foxsports.nl/airmiles">www.foxsports.nl/airmiles</a></p>
						<p>Na een succesvolle aanmelding is het onze doelstelling om uw zo snel mogelijk te voorzien van het FOX Sports signaal. FOX Sports is voor de aansluittijd van jouw FOX Sports abonnement afhankelijk van jouw TV aanbieder. Hierdoor hanteren wij een aansluittijd van 5 tot 10 dagen. In de meeste gevallen is dit aanzienlijk korter en zal dit binnen 48 uur plaatsvinden.</p>
						<p>Je abonnementsperiode gaat pas in op het moment dat je beeld hebt.</p>
						<p>Om FOX Sports te kunnen ontvangen dien je te beschikken over digitale televisie. Analoge klanten dienen over te stappen naar digitale televisie om gebruik te maken van deze actie. Hieraan kunnen kosten verbonden zijn. Meer informatie over het aanvragen van digitale televisie vind je op de website van jouw eigen provider.</p>
						<p>Deze actie is geldig bij alle TV aanbieders. Indien je na de actieperiode geen FOX Sports meer wilt ontvangen, dien je dit tijdens de actieperiode kenbaar te maken bij jouw TV aanbieder. Na het aanmelden ontvang je per mail informatie over hoe je eenvoudig kunt opzeggen. Na de actieperiode loopt jouw FOX Sports abonnement door tot wederopzegging. FOX Sports is bij de meeste TV aanbieders maandelijks opzegbaar. Deze actie geldt niet in combinatie met andere aanbiedingen van jouw TV aanbieder.</p>

					</div>
				</li>
				<li>
					<div class="collapsed">
						<div>
							<a href="javascript:;">Wat houdt het FOX Sports totaal abonnement in?</a>
						</div>
						<a href="javascript:;"><span>Lees meer</span> <i class="fa fa-play"></i></a>
					</div>
					<div class="expanded">
						<h1>Wat houdt het FOX Sports totaal abonnement in?</h1>
						<p>Nu 2 maanden FOX Sports kijken met 30 euro korting! Pak je Airmiles kaart, en koop dit totaal pakket om 2 maanden voor 10 euro per maand wekelijks uren spectaculair voetbal te kunnen zien op FOX Sports. Beleef bijvoorbeeld de spannende race om het kampioenschap van de Eredivsie mee.</p>
						<p>FOX Sports totaal abonnement brengt nationale en internationale sporten live bij u in de huiskamer. Van iedere speelronde worden hier alle Eredivisie wedstrijden en een selectie van de beste nationale en internationale voetbalwedstrijden live uitgezonden en gepresenteerd door de vaste gezichten Jan Joost van Gangelen, Toine van Peperstraten en Kees Jansma. De Engelse Premier League, Serie A, bekervoetbal uit Spanje, de FA Cup u ziet het allemaal. </p>
						<p>De wedstrijden worden van een deskundige blik voorzien door de beste analisten uit binnen en buitenland. Naast voetbal is ook de NFL en MLB te zien en volgt u alle toernooien uit de ATP World Tour Masters 500, ATP World Tour 1000 en het belangrijkste tennistoernooi ter wereld: Wimbledon. FOX Sports is zeven dagen per week topsport en is bij een groot aantal TV aanbieders ook in HD beschikbaar.</p>
					</div>
				</li>
				<li>
					<div class="collapsed">
						<div>
							<a href="javascript:;">Wat is Air Miles en hoe maak ik een account aan?</a>
						</div>
						<a href="javascript:;"><span>Lees meer</span> <i class="fa fa-play"></i></a>
					</div>
					<div class="expanded">
						<h1>Air Miles</h1>
						<p><strong>Sparen bij je dagelijkse boodschappen</strong><br />
						Air Miles sparen kan bijna altijd. Of je nu je avondeten in huis haalt, een jas koopt of je tank volgooit. Zo spaar je bij alle Air Miles partners bijna vanzelf een flink saldo bij elkaar. Je spaart Air Miles bij onze partners Albert Heijn, Shell, V&D, Praxis, Etos en Gall & Gall. Als je slim winkelt en tankt, spaar je bijna elke dag!</p>

						<p><strong>Online "mijn Air Miles" account aanmaken</strong><br />
						Je spaart al Air Miles, maar je kunt nog niet online je saldo zien en gebruik maken van de voordelen van een online mijn Air Miles account. Maak nu een online account aan en ontvang direct 100 Bonus Miles.<br />
						<strong>Let op!</strong> De algemene voorwaarden zijn aangepast: <a href="https://www.airmiles.nl/Paginas/algemenevoorwaarden.aspx" target="_blank">lees ze hier</a></p>


						<p><strong>Het allerleukste: Air Miles inwisselen!</strong><br />
						Met Air Miles doe je dingen die je anders niet zo snel zou doen.
						Verwen jezelf met een gezichtsbehandeling van Ariane Inden of pak flinke kortingen bij V&D of Albert Heijn. Of ga online shoppen bij bol.com en krijg korting met Air Miles op miljoenen artikelen. Allemaal leuke voordeeltjes en verrassingen, gewoon door je Air Miles in te wisselen.</p>

						<a href="https://www.airmiles.nl/overairmiles/paginas/default.aspx" target="_blank">Lees meer over Air Miles</a>
					</div>
				</li>
			</ul>
		</div>
		<hr />
	</div>
</div>