<div class="canvas">
	<h1>PRIVACY</h1>
	<p>De website <a href="https://www.my-shirt.nl/airmiles/">www.my-shirt.nl/airmiles/</a> is een samenwerking tussen FOX Sports, Shell Nederland en Air Miles. FOX Sports houdt van duidelijkheid. Vandaar dat we deze privacyverklaring hebben geschreven: hierin lees je wat we doen met jouw gegevens, en vooral ook wat niet. In deze privacyverklaring vermelden we met welke doeleinden wij persoonsgegevens verwerken. Wij houden ons hierbij netjes aan de wet (de Wet bescherming persoonsgegevens).</p>
	<ul>
		<li>Dit betekent dat wij: duidelijk aangeven voor welke doeleinden wij persoonsgegevens verwerken, en of daar toestemming voor nodig is of niet;</li>
		<li>Continu bezig zijn om onze verzameling van persoonsgegevens te beperken tot alleen die persoonsgegevens die nodig zijn voor legitieme doeleinden, bijvoorbeeld om het gebruik van onze site voor jou makkelijker te maken;</li>
		<li>Je eerst vragen om uitdrukkelijke toestemming om je persoonsgegevens te gebruiken, wanneer de wet toestemming verlangt;</li>
		<li>Je duidelijk aangeven wanneer wij je persoonsgegevens gebruiken als daarvoor van de wet geen toestemming nodig is;</li>
		<li>Passende beveiligingsmaatregelen nemen om je persoonsgegevens te beschermen; wij eisen dat ook van partijen die in onze opdracht persoonsgegevens verwerken;</li>
		<li>Je recht respecteren om je persoonsgegevens op aanvraag in te zien, te corrigeren of te verwijderen.
	</ul>

	<p><strong>Hoe wij persoonsgegevens verzamelen Wij kunnen op twee manieren persoonsgegevens verzamelen:</strong><br />
		<ul>
			<li>Je kunt ons persoonsgegevens actief verstrekken, bijvoorbeeld in een e-mail of middels een webformulier;</li>
			<li>Je kunt ons bepaalde persoonsgegevens passief verstrekken, dat wil zeggen door onze website te bezoeken. Je IP-adres wordt bijvoorbeeld automatisch opgeslagen in de logbestanden van onze webserver.</li>
		</ul>
	<p><strong>Gebruik van onze dienst</strong><br />
	Als je onze site gebruikt, krijgen wij bepaalde persoonsgegevens van je. Wij bewaren en gebruiken uitsluitend de persoonsgegevens die je zelf opgeeft, zoals je e-mailadres, of die automatisch door gebruik van onze site worden meegegeven, zoals je IP-adres. Tevens maken wij statistieken en analyses van het gebruik van onze website om deze bij volgende bezoeken nog beter te maken. Hiervoor meten we onder meer hoe jij (en anderen) door onze website gaan en wat er daarbij wel en niet goed werkt. We voeren deze metingen zo anoniem mogelijk uit en koppelen geen meetgegevens aan je account.</p>
	<p><strong>Verstrekking aan derden</strong><br />
		Nadat je een bestelling via my-shirt.nl/airmiles/ hebt geplaatst geven wij je gegevens niet door aan derden.</p>
	<p><strong>Ip-adressen</strong><br />
		Wanneer je onze website bezoekt, wordt je IP-adres automatisch opgeslagen in de logbestanden van onze webserver. Dat is nodig om ons in staat te stellen de webserver op een goede manier te beheren en beveiligen. Wij zijn normaliter niet in staat om jouw IP-adres te koppelen aan je naam, adres of andere identificerende informatie, behalve als je ingelogd bent of langdurig gebruik blijft maken van hetzelfde IP-adres.</p>
	<p><strong>Cookies</strong><br />
		Wij maken gebruik van cookies. Een cookie is een eenvoudig klein bestandje dat met pagina's van deze website wordt meegestuurd en door je browser op je computer wordt opgeslagen. De daarin opgeslagen informatie kan bij een volgend bezoek weer naar ons teruggestuurd worden. Cookies bevatten geen persoonlijke informatie zoals je naam, e-mailadres of huisadres.
		Wij gebruiken cookies om je instellingen en voorkeuren vast te leggen, zodat wij hier niet steeds naar hoeven te vragen. Ook meten we met cookies hoe onze site wordt gebruikt, zodat we deze bij volgende bezoeken prettiger en gerichter op je voorkeuren kunnen maken.</p>
	<p><strong>Google analytics</strong><br />
		Wij gebruiken Google Analytics om algemene statistieken te genereren en te bekijken hoe onze website wordt gebruikt door het publiek. De analytics-programma's en cookies die wij gebruiken, volgen niet wat specifieke bezoekers op onze website aan het doen zijn. Met deze statistieken is het mogelijk onze diensten te optimaliseren. Voor meer informatie over Google Analytics, zie graag de Google privacypagina.</p>
	<p><strong>Beveiliging</strong><br />
		Wij nemen beveiligingsmaatregelen om misbruik van en ongeautoriseerde toegang tot persoonsgegevens te beperken. In het bijzonder nemen wij de volgende maatregelen:<br /><br />
		<ul>
			<li>logische toegangscontrole, gebruik makend van wachtwoorden;</li>
			<li>beveiliging van netwerkverbindingen via Secure Socket Layer (SSL) technologie;</li>
			<li>doelgebonden toegangsbeperkingen;</li>
			<li>controle op toegekende bevoegdheden.</li>
		</ul>
	</p>
	<p><strong>Websites van derden</strong><br />
		Deze verklaring is niet van toepassing op websites van derden die door middel van links met deze website zijn verbonden. Wij kunnen niet garanderen dat deze derden op een betrouwbare of veilige manier met jouw persoonsgegevens omgaan. Wij raden je aan de privacyverklaring van deze websites te lezen alvorens van deze websites gebruik te maken.</p>
	<p><strong>Wijzigingen in deze privacyverklaring</strong><br />
Wij behouden ons het recht voor om wijzigingen aan te brengen in deze verklaring. Wijzigingen zullen op deze website worden gepubliceerd en oude versies houden wij beschikbaar. Het verdient aanbeveling om deze verklaring geregeld te raadplegen, zodat je van deze wijzigingen op de hoogte bent.</p>
	<p><strong>Contactgegevens</strong><br />
Als je vragen hebt over je privacy en onze privacyverklaring, dan kun je deze stellen via <a href="mailto:klantenservice@foxsports.nl">klantenservice@foxsports.nl</a>.</p>

</div>