<div style="padding: 25px;width: 90%;margin:0 auto 40px auto;min-height:500px;background-color:white;">
	<h1 style="color: black;">Status overzicht</h1>
	
	<table>
		<tr>
			<td>Verkochte vouchers</td>
			<td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
			<td><span class="code count"><?php echo $this->count?></span></td>
		</tr>
		<tr>
			<td>Airmiles Status</td>
			<td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
			<td><span class="code count"><?php echo $this->amstatus ? 'Verbonden' : 'Niet verbonden'?></span></td>
		</tr>
	</table>	
</div>