	<div class="steps">
		<span>4 eenvoudige stappen:</span>
		<ul>
			<li>
				<span class="number done"><u>1</u><i class="fa fa-check fa-lg"></i></span>
				<span class="text oneline">Klik op bestellen</span>
			</li>
			<li>
				<span class="number done"><u>2</u><i class="fa fa-check fa-lg"></i></span>
				<span class="text">Login met uw Air Miles account &amp; betaal</span>
			</li>
			<li>
				<span class="number"><u>3</u><i class="fa fa-check fa-lg"></i></span>
				<span class="text">Activeer je vouchercode bij FOX Sports</span>
			</li>
			<li>
				<span class="number"><u>4</u><i class="fa fa-check fa-lg"></i></span>
				<span class="text twoline last">Stel je shirt samen</span>
			</li>
		</ul>
	</div>
	<div class="canvas">
		<h1>Bedankt voor<br /> uw bestelling</h1>
		<h2>Uw aankoop:</h2>
		<div class="summery">
			<ul>
				<li class="col col2">
					<img src="<?php echo $this->basePath(); ?>/img/sprite/avatar.png">
					<h3>2<br />Persoonlijke<br />shirts twv<br />50 euro</h3>
					<img src="<?php echo $this->basePath(); ?>/img/sprite/plus.png" class="plus">
				</li>

				<li class="col col1">
					<img src="<?php echo $this->basePath(); ?>/img/sprite/devices.png">
					<h3>2 maanden<br />FOX Sports <br />Abonnement</h3>
				</li>
			</ul>
		</div>
		<div class="vouchercode">
			<div class="container">
				<span>Uw unieke voucher code: <span><?= $code ?></span></span>
			</div>
			<p>* deze voucher code wordt ook verstuurd naar uw e-mail adres</p>
		</div>
	</div>
	<div class="canvas">
		<h8 class="mobilebold">Vervolg stappen:</h8>
		<div class="hoewerkthet">
			<div class="flexslider flexslider3">
				<ul class="slides">
					<li>
						<div class="split"></div>
						<div class="content">
							<span class="uniekecode">
							UNIEKE<br />
							VOUCHER<BR />
							CODE
							</span>
							<div class="hr"></div>
							Ga met uw unieke<br />
							voucher code (hierboven<br />
							of uit uw e-mail)<br />
							naar<br />
							<a href="http://www.foxsports.nl/Airmiles">www.FOXSports.nl/Airmiles</a>
						</div>
					</li>					<li>
						<div class="split"></div>
						<div class="content">
							<span class="step3"></span>
							<div class="hr"></div>
							U registreert zich<br />bij FOX Sports.<br />
							<br />
							U ontvangt<br />2 maanden<br />het FOX Sports<br />totaal abonnement.<br />tegen een betaling van 10 euro per maand.
						</div>
					</li>
					<li>
						<div class="split"></div>
						<div class="content">
							<span class="envelop"></span>
							<div class="hr"></div>
							Na uw FOX Sports<br />registratie ontvangt<br />u een e-mail met<br />2 unieke<br />voucher codes<br />om uw twee <br />persoonlijke shirts te<br />maken.
						</div>
					</li>
					<li>
						<div class="content">
							<span class="step4"></span>
							<div class="hr"></div>
							Op <a href="https://www.my-shirt.nl" target="_blank">www.my-shirt.nl</a><br />maakt u<br />uiteindelijk uw twee<br />persoonlijke t-shirts.
						</div>
					</li>
				</ul>
			</div>
		</div>
		<hr />
	</div>

<!--
		<section class="content uwvoucher">
			<nav class="steps offset uwbestelling">
				<section class="steps sans-text offset">
					<ul>
						<li class="one">
							<span>1</span><aside>Klik op <br /> bestellen</aside>
						</li>
						<li class="two">
							<span>2</span><aside>Verifieer je <br />gegevens &amp;<br />betaal</aside>
						</li>
						<li class="three active">
							<span>3</span><aside>Rond jouw <br />verzoek af</aside>
						</li>
						<li class="four">
							<span>4</span><aside>Activeer <br />bij HBO<aside>
						</li>
					</ul>
				</section>
			</nav>

			<article class="page">
				<h1>Rond je verzoek af</h1>
				<section class="voucher shadow curved">
					<div class="visual">
						<div class="sprite sprite-milesonly"></div>
					</div>
					<section>
						<h2>Gefeliciteerd met de aankoop van HBO!</h2>
						<p>
							Geniet twee maanden lang van de nieuwste series en grootste films. In haarscherpe HD-kwaliteit <span class="brdesktop"></span>waar en wanneer jij maar wilt met HBO GO en HBO On Demand. *<br />
							*Indien beschikbaar bij jouw tv-aanbieder.
							<br />
							<span class="code">jouw persoonlijke actiecode: <?= $code ?></span>
						</p>
 					</section>
				</section>
				<section class="highlight">
				</section>
				<section class="laststep">
					<ul class="step">
						<li class="four">
							<span>4</span><aside>Activeren bij HBO<aside>
						</li>
					</ul>
					<p>
					Activeer jouw actiecode via de website <a href="http://www.itshbo.nl/airmiles" target="_blank">www.itshbo.nl/airmiles</a>. <span class="brdesktop"></span>Je tv-aanbieder verwerkt je bestelling binnen vijf werkdagen waarna HBO beschikbaar zal zijn op je tv.
					</p>
					<section class="activate">
					<a href="http://www.itshbo.nl/airmiles" target="_blank" class="button">Activeer mijn persoonlijke code</a>
					</section>
					<p>
						Wij wensen jou veel kijkplezier.<br />
						<br />
						HBO &amp; Air Miles
					</p>
				</section>
			</article>
		</section>

-->