<div class="canvas">
	<h1>Pagina niet gevonden</h1>
	<p>Helaas de door u gekozen pagina kon niet gevonden worden. Klik op <a href="<?= $this->url('voucher/default'); ?>">deze link</a> om terug te keren naar de homepage.</p>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

</div>

