body {
	margin: 0;
	padding: 0;
	background-color: white;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	font-family:'Graphie W01', Arial, Helvetica;
	font-weight: 300;

	@include respond-to(mobile) {
		background-size: auto 800px;
	}

	div#shadow {
		width: 100%;
		position: fixed;
		background-color: rgba(0, 0, 0, .8);
		z-index: 9000;
		display: none;
	}

	div#popover {
		min-height: 300px;
		width: 800px;
		position: fixed;
		z-index: 9090;
		left: 50%;
		top: 30px;
		margin-left: -400px;
		padding: 40px;
		background-color: white;
		border-radius: 10px;
		display: none;

		span.close {
			@include use-sprite(close, 0, 0, 0, 0);
			position: relative;
			float: right;
			right: -62.5px;
			top: -62.5px;
		}
	}
	.bold {
		font-weight: bold;
	}
	* {
		box-sizing: border-box;
	}

	hr {
		height: 0;
		border: 0;
		border-bottom: 4px solid #edf7fb;
	}

	h3 {
		font-family: 'BT Futura W01';
		font-size: 47px;
		color: #043768;
		text-transform: uppercase;
	}

	h4 {
		font-family: 'BT Futura W01';
		font-size: 47px;
		color: #043768;
		text-transform: uppercase;
	}
	h5 {
		font-family: 'Graphie W01';
		font-size: 32px;
		color: #043768;
		font-weight: 300;
	}

	div.canvas {
		background-color: white;
		padding: 50px 70px;
		text-align: left;
		margin: 0 auto;
		margin-top: 20px;
		max-width: 1000px;
		font-size: 16px;

		@include respond-to(mobile){
			padding: 10px 10px;
			padding-top: 40px;
		}
	}

}