@import "compass/css3/box-shadow";
@import "compass/css3/transform";

$mobile-small: 640px;
$mobile: 959px;
$desktop: 960px;

@mixin respond-to($media) {

	@if $media == mobile {
		@media only screen and (max-width: ($mobile)) { @content; }
	}
	@else if $media == mobile-small {
		@media only screen and (max-width: $mobile-small) { @content; }
	}
	@else if $media == 1024 {
		@media only screen and (max-width: 1024px) { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: $desktop) { @content; }
	}
}

@mixin respond-to-min-width($min-width) {
	@media only screen and (min-width: $min-width) { @content; }
}

@mixin respond-to-max-width($max-width) {
	@media only screen and (min-width: $max-width) { @content; }
}
@mixin respond-to-min-height($min-height) {
	@media only screen and (min-height: $min-height) { @content; }
}

@mixin respond-to-max-height($max-height) {
	@media only screen and (min-height: $max-height) { @content; }
}


.dbr {
	display: block;
	@include respond-to(mobile) {
		display: none;
	}
}

.mbr {
	display: none !important;
	@include respond-to(mobile) {
		display: block !important;
	}
}




div.isDesktop {
	@include respond-to(mobile) {
		display: none;
	}
}
div.isMobile {
	display: none;
	@include respond-to(mobile) {
		display: block;
	}
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin fancy-box-shadow($color:rgba(0,0,0,.7), $left_shadow:-4deg, $right_shadow:4deg, $bottom:8px) {
	position:relative;
	background:#fff;

	&:before, &:after {
	    position:absolute;
	    width:47%;
	    max-width:50%;
	    top:80%;
	    left:10px;
	    bottom:$bottom;
	    content:'';
	    z-index:-1;
	    @include single-box-shadow($color, 0, 15px, 15px);
	    @include rotate($left_shadow);
	}
	&:after {
	    right:10px;
	    left:auto;
	    @include rotate($right_shadow);
	}
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}