<?php echo $this->doctype();
$module = '';
$action = '';
if(is_object($this->getHelperPluginManager()->getServiceLocator()->get('Application')->getMvcEvent()->getRouteMatch()))
    $module = $this->getHelperPluginManager()->getServiceLocator()->get('Application')->getMvcEvent()->getRouteMatch()->getMatchedRouteName();

if(is_object($this->getHelperPluginManager()->getServiceLocator()->get('application')->getMvcEvent()->getRouteMatch()))
    $action = $this->getHelperPluginManager()->getServiceLocator()->get('application')->getMvcEvent()->getRouteMatch()->getParam('action', 'index');
?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('FOX Sports | exclusief voor Air Miles spaarders')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1, user-scalable=no')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet('//fast.fonts.net/cssapi/d3cbdc69-4d78-47a0-8cd7-d1c2d5bb56e1.css')
        ?>
        <!--[if lte IE 9]>
			<link href="<?php print $this->basePath(); ?>/css/ie.css" rel='stylesheet'>
        <![endif]-->
        <script src="<?php echo $this->basePath(); ?>/js/modernizr-2.8.3.min.js"></script>
        <script>
	        var basePath = '<?php echo $this->basePath(); ?>';
        </script>
    </head>
    <body class="<?php print  str_replace('/', '-', $module); ?> <?php print $action; ?>">
	    <div id="shadow"></div>
		<div id="spinner-container"></div>
	    <div id="popover"><span class="close"></span><div class="content"></div></div>
        <header>
            <ul>
                <a href="<?= $this->url('voucher/default'); ?>"><li class="logo fox"></li></a>
                <a href="<?= $this->url('voucher/default'); ?>"><li class="logo shell"></li></a>
            </ul>
        </header>
        <div class="<?php print  str_replace('/', '-', $module); ?> <?php print $action; ?>">
<?php echo $this->content; ?>
        </div>
	    <footer>
		    <ul>
			    <li class="possible-by">
			    	<span class="text-by">Mogelijk gemaakt door:</span>
			    	<a href="<?= $this->url('voucher/default'); ?>"><span class="logo fox"></span></a>
			    	<a href="<?= $this->url('voucher/default'); ?>"><span class="logo shell"></span></a>
			    </li>
			    <li class="lnk">
			    	<ul>
					    <li class="col">
					    	<a href="<?= $this->url('voucher/privacy'); ?>">Privacy</a>
					    </li>
					    <li class="about col last">
							<span class="bold break">Vragen voor Air Miles?</span>
							Ga naar: airmiles.nl of bel 0900-8877<br />
							(€ 1,00 per gesprek)<br />
							Ma-Vr 09:00-18:00
					    </li>
			    	</ul>
			    </li>
		    </ul>
	    </footer>
        <?php echo $this->inlineScript()
            ->appendFile($this->basePath() . '/js/jquery-1.11.2.min.js')
            ->appendFile($this->basePath() . '/js/vendor.min.js')
            ->appendFile($this->basePath() . '/js/general.min.js')
		?>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-57886502-1', 'auto');
		  ga('send', 'pageview');

		</script>
    </body>
</html>