footer {
	width: 100%;
	max-width: 100%;
	background: white;
	min-height: 100px;
	margin-top: 20px;
	padding: 10px 20px;
	padding-bottom: 50px;
	font-size: 15px;
	color: #454545;
	box-sizing: border-box;
	a {
		color: #454545;
		text-decoration: underline;
	}

	ul {
		padding: 0;
		margin: 0 auto;
		max-width: 970px;
		@include respond-to(mobile){
		}
		li {
			display: inline-block;
			vertical-align: top;
			@include respond-to(mobile) {
				display: block;
				padding-left: 20px;
			}

			&.col {
				margin-right: 10px;
				&.last {
					margin-right: 0;
				}
				@include respond-to(mobile) {
					margin-bottom: 20px;

				}

			}

			&.lnk {
				float: right;
			}

			&.about {
				float: right;
				width: 300px;
				span.break {
					display: block;
				}
			}
			&.possible-by {
				span {
					&.text-by {
						display: block;
						margin-bottom: 15px;
					}
					&.logo {
						&.shell {
							@include use-sprite(logo-shell-39, 0, 1, 0, 0);
							margin-left: 10px;
						}
						&.fox {
							@include use-sprite(logo-fox-39, 0, 1, 0, 0);
						}
					}
				}
				@include respond-to(mobile) {
					padding-left: 0;
				}

			}
		}
	}
}