//			@include use-sprite(am-logo-71x71, 0, 0, 0, 1);
header {
	background-color: white;
	text-align: center;
	height: 70px;
	ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			display: inline-block;

			&.logo  {
				&.shell {
					@include use-sprite(logo-shell, 0, 0, 0, 0);
				}
				&.fox {
					margin-top: 9px;
					@include use-sprite(logo-fox, 0, 0, 0, 0);
					margin-right: 20px;
				}
			}
		}
	}
}