div.steps {
	text-align: center;
	color: white;
	& > span {
		display: block;
		text-align: center;
		font-size: 20px;
		@include respond-to(mobile){
			font-size: 14px;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		display: inline-block;
//		display: table;
//		width: 100%;

		margin-top: 20px;
		@include respond-to(mobile){
			display: block;
		}
		li {
			display: table-cell;
			vertical-align: bottom;
			height: 70px;
			@include respond-to(mobile){
				display: inline-block;
				width: 49%;
				height: auto;
				vertical-align: top;
				text-align: center;
			}

			span.number {
				vertical-align: bottom;
				height: 60px;
				width: 60px;
				border-radius: 30px;
				display: inline-block;
				text-align: center;
				line-height: 60px;
				background-color: #fed230;
				font-family: 'Futura W04';
				font-weight: 200;
				font-size: 50px;
				font-weight: 200;
				color: #595959;
				@include respond-to(mobile) {
					height: 40px;
					width: 40px;
					font-size: 35px;
					border-radius: 20px;
					line-height: 40px;
					vertical-align: top;
//					float:left;
					display: inline-block;
				}
				i {
					display: none;
				}
				u {
					text-decoration: none;
				}
				&.done {
					background-color: #ffedac;
					font-size: 30px;
					u {
						display: none;
					}
					i {
						display: inline;
					}
				}

			}
			span.text {
				display: inline-block;
				height: 60px;
				width: 120px;
				font-family: 'BT Futura W01';
				font-weight: 300;
				margin-left: 10px;
				text-align: left;
				margin-right: 20px;
				&.last {
					margin-right: 0;
				}
				@include respond-to(mobile) {
//					float: left;
					float: none;
					height: auto;
					color: #043768;
					text-align: center;
				}
				&.oneline {
					position: relative;
					top: 20px;
					@include respond-to(mobile) {
						position: static;
						top: auto;
					}
				}
				&.twoline {
					position: relative;
					top: 10px;
					@include respond-to(mobile) {
						position: static;
						top: auto;
					}

				}
			}
		}
	}
}

body.voucher-aankopen.uwbestelling, body.voucher-uwvouchercode.uwvouchercode {
	div.steps {
		ul {
			li {
				@include respond-to(mobile) {
					width: auto;
					span.text {

						display: none;
					}
				}
			}
		}
	}
}