article.uwvoucher {
	background-color: #fbfbfb;
	padding: 20px 75px 60px 75px;


	@include respond-to(mobile) {
		padding: 0;
		background-color: white;
		@include clearfix();
		width: 100%;
		background-color: #f7f7f7;
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		padding: 20px 0 20px 0;
	}

	h1 {
		font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 35px;
		color: #454545;
		@include respond-to(mobile) {
			margin: 0 0 20px 20px;
			width: 90%;
		}

	}

	h2 {
		font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 26px;
		color: #454545;
		@include respond-to(mobile) {
			margin: 20px 0 20px 20px;
			width: 90%;
			text-align: center;
		}

		&.congrat {
			text-align: left;
			width: 90%;
		}
		.step {
			background-color: #05969b;
			border-radius: 25px;
			color: white;
			font-size: 30px;
			height: 50px;
			line-height: 60px;
			margin: 0 10px;
			text-align: center;
			width: 50px;
			display: inline-block;
			@include respond-to(mobile) {
				display: block;
				margin: 0 auto 0 auto;
			}
		}
	}

	section.vouchersheet {
		width: 800px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.55);
		background-color: white;
		padding: 20px 40px;


		p {
			&.you-recieve {
				margin-bottom: 20px;
			}

			&.activate {
				margin: 30px 0 30px 0;
				span {
					margin-left: 20px;
				}
				a.button {
					margin-left: 30px;
					padding-left: 20px;
					padding-right: 20px;
				}
			}
			&.activatenow {
				@include respond-to(mobile) {
					width: 85%;
				}
			}
			&.thanks {
				margin-bottom: 30px;
			}
		}

		section.spacer {
			@include respond-to(mobile) {
				background-color: white;
				height: 20px;
				width: 100%;
				border-top: 1px solid #e1e1e1;
				border-bottom: 1px solid #e1e1e1;
			}
		}
		a.button {
			@include respond-to(mobile) {
				display: block;
				margin: 10px 20px 30px 0;
			}
		}

		@include respond-to(mobile) {
			width: 100%;
			background-color: #f7f7f7;
			box-shadow: none;
			padding: 0;
		}

		section {
			@include respond-to(mobile) {
			padding-bottom: 20px;
			}
		}

		p {
			@include respond-to(mobile) {
				margin-left: 20px;
			}
		}

	}

	section.voucher {
		height: 160px;
		width: 100%;
		background-color: white;
		margin-bottom: 30px;
		//@include shadow(curved);
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.55);

		@include respond-to(mobile) {
			height: auto;
			background-color: #f7f7f7;

			box-shadow: none;
			height: auto;
		}


		div.dreamgirl {
			width: 223px;
			height: 160px;
			display: inline-block;
			background-position: center center;
			background-size: 100% auto;
			background-image: url(../img/png/dreamgirl.png);
			@include respond-to(mobile) {
				width: 100%;
			}
			div.sprite {
				float: right;
				margin: 10px 10px 0 0;
			}
		}
		section {
			padding: 30px 0 0 20px;
			display: inline-block;
			width: 450px;
			height: 137px;
			vertical-align: top;
			p {
				font-size: 13px;
				@include respond-to(mobile) {
					margin: 0 0 20px 0;
				}
			}
			@include respond-to(mobile) {
				height: auto;
			}
			span.voucher {
				font-size: 15px;
				color: #e42f8c;
				font-weight: bold;
				span.code {
					color: black;
				}
			}
			@include respond-to(mobile) {
				padding: 20px 20px 0 20px;
				width: 100%;
			}
		}
	}
}