html, body {
	margin: 0;
	padding: 0;
	background-color: black;
	background-image: url(../img/jpg/bg.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

section#shadow {
	position: fixed;
	top:0;
	left: 0;
	float: left;
	z-index: 9000;
	background-color: rgba(0,0,0,0.8);
}

#spinner-container {
	position:fixed;
	top:50%;
	left:50%;
	z-index:9999;
}


section#dialog {
	$dialog-width: 500px;
	$dialog-height: 400px;
	z-index: 9001;
	position: fixed;
	background-color: white;
	width: $dialog-width;
	height: $dialog-height;
	top: 50%;
	left: 50%;
	margin-top: -$dialog-height / 2;
	margin-left: -$dialog-width / 2;
	display: none;

	div.sprite-close {
		@include use-sprite(close);
		position: relative;
		cursor: pointer;
		top:-22px;
		left: -22px;
	}
	h4 {
		margin: -10px 40px 0 40px;
		margin-left: 40px;
	    font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-size: 28px;
	}

	ul {
		padding-left: 20px;
	}

	article {
		width: 100%;
		height: 310px;
		overflow: auto;
		margin-top: 20px;
		padding: 0 40px 40px 40px;
	}
}

header {
//	position: fixed;
//	top: 0;
//	left: 0;
	width: 100%;
//	z-index: 9999;
	height: 70px;
	div.black {
		background-color: #333333;
		width: 100%;
		height: 65px;
		position: block;

		@include respond-to(mobile) {
			height: 45px;
		}
	}
	section {
		&.logos {
			position: relative;
			top: -65px;
			margin: 20px 0 0 0;
			width: 100%;
			text-align: center;

			div.sprite-am {
				@include use-sprite(am);
			//	height: 84px !important;
				@include respond-to(mobile) {
					display: none;
				}
			}

			div.sprite-juke {
				@include use-sprite(juke);
			//	height: 79px !important;
				@include respond-to(mobile) {
					display: none;
				}
			}

			div.sprite-amsmall {
				@include use-sprite(amsmall);
				display: none;
				@include respond-to(mobile) {
					margin-top: 10px;
					display: inline-block;
				}

			}

			div.sprite-jukesmall {
				@include use-sprite(jukesmall);
				display: none;
				@include respond-to(mobile) {
					display: inline-block;
				}
			}
		}

		&.outlinks {
			@include respond-to(mobile) {
				margin-top: 20px;
			}
			ul {
				position: relative;
				top: -90px;
				margin: 0 auto 0 auto;
				padding: 0;
				list-style: none;
				display: block;
				width: 100%;
				max-width: 960px;

				@include respond-to(mobile) {
					margin: 0;
				}
				li {
					display: inline-block;
					margin: 0 10px 0 0;
					@include respond-to(mobile) {
						display: block;
						margin: 0;
						padding: 0 0 0 20px;
					}

					a {
						color: white;
						font-family: 'Source Sans Pro', sans-serif;
						letter-spacing: +1px;
						text-transform: uppercase;
						font-size: 12px;
						text-decoration: none;
						span {
							font-size: 14px;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

footer {
//	margin: 40px 0 0 0;
	padding: 20px 0 40px 0;
	background-color: white;
	width: 100%;

	@include respond-to(mobile) {
		margin: 0;
	}


	div.logos {
		div.sprite-am {
			@include use-sprite(am);
			@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
				width: 84px !important;
			}
//			height: 84px !important;

		}

		div.sprite-jukeblack {
			@include use-sprite(jukeblack);
//			height: 79px !important;
		}

		@include respond-to(mobile) {
			margin: 0 auto 0 auto;
			width: 90%;

		}
	}
	section.content {
		width: 100%;
		max-width: 960px;
		max-height: 150px;
		overflow: hidden;
		margin: 0 auto 0 auto;
		ul.terms {
			margin: 20px 0 20px;
			padding: 0;
			list-style-type: none;
			display: block;
			@include respond-to(mobile) {
				padding-left: 20px;
				text-align: left;
				width: 100%;
			}
			li {
				display: inline-block;
				margin-right: 10px;

				a {
					font-family: 'Source Sans Pro', sans-serif;
					text-decoration: underline;
					color: #454545;
				}
			}
		}

		ul.misc {
			padding: 0;
			margin: 0;
			display: block;
			list-style-type: none;
			float: right;
			position: relative;
			top: -130px;

			@include respond-to(mobile) {
				float: none;
				margin: 0 auto 0 auto;
				width: 90%;
				top: 0;
			}
			li {
				vertical-align: top;
				width: 200px;
				display: inline-block;
				font-size: 12px;
				@include respond-to(mobile) {
					width: 250px;
					display: block;
					margin-bottom: 20px;
				}
			}
		}
	}
}


a.button {
	color: white;
	text-decoration: underline;
	font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration: none;
	font-size: 20px;
	line-height: 25px;
	padding: 7px 5px 3px 5px;
	text-align: center;
	background-color: #e42f8c;
	border-radius: 5px;
	vertical-align: middle;
}
