article.page {
	width: 100%;
	max-width: 960px;
	margin: 0px auto 30px auto;
	@include respond-to(mobile) {
		margin: 80px auto 0 auto;
	}

	&.higher {
		@include respond-to(mobile) {
			margin: -70px auto 0 auto;
		}
	}


	section {
		&.header {
			margin-top: 60px;
			div.h1-container {
				@include respond-to(mobile) {
					width: 100%;
					@include clearfix;
				}

				text-align: center;
			}

			div.sprite-milesonly {
				@include use-sprite(milesonly);
				display: block;
				margin: 0 auto 15px auto;
			}

			h1 {
				font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
				text-transform: uppercase;
				margin: 25px 0 40px 0px;
				display: inline-block;
				float: left;
				width: 700px;
				text-align: center;
				@include respond-to(mobile) {
					width: 100%;
				}
				span {
					&.header-one {
						display: inline-block;
						height: 160px;
						font-size: 200px;
						color: #ffed3e;
						margin-left: 100px;
						@include respond-to(mobile) {
							display: inline-block;
							height: 70px;
							font-size: 100px;
							color: #ffed3e;
/* 							left: 60px; */
						}
					}
					&.header-two {
						display: inline-block;
						height: 60px;
						font-size: 90px;
						color: #86bd4a;
						@include respond-to(mobile) {
							display: inline-block;
							height: 20px;
							font-size: 40px;
							color: #86bd4a;
						}
					}
					&.header-three {
						display: inline-block;
						height: 60px;
						font-size: 90px;
						color: #1bb8de;
						@include respond-to(mobile) {
							display: inline-block;
							height: 20px;
							font-size: 40px;
							color: #1bb8de;
						}
					}
					&.header-four {
						display: inline-block;
						height: 60px;
						font-size: 90px;
						color: #e42f8c;
						margin-left: -60px;
/* 						position: relative; */
/* 						left: 110px; */
						@include respond-to(mobile) {
							display: inline-block;
							height: 15px;
							font-size: 30px;
							color: #e42f8c;
/* 							left: 20px; */
						}
					}
					&.header-five {
						display: inline-block;
						height: 60px;
						font-size: 90px;
						color: #4d609a;
/* 						position: relative; */
						margin-left: 80px;
						@include respond-to(mobile) {
							display: inline-block;
							height: 25px;
							font-size: 30px;
							color: #4d609a;
/* 							left: 80px; */
						}

					}
				}
			}
			aside {
				font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
				color: white;
				display: block;
				float: right;
				font-size: 25px;
				line-height: 27px;
				text-transform: uppercase;
				width: 190px;
				text-align: center;
				position: relative;
				top: 80px;
				left: -40px;
				@include respond-to(mobile) {
					float: none;
					margin: 0 auto 0 auto;
					top: 20px;
					left: 0;
					position: relative;
					top: -10px;
				}
				img {
					display: block;
					margin: 0 auto 10px auto;
				}
				a.button {
				display: block;
					margin: 10px 0 0 0;
					width: 100%;
/*
					margin: 10px 0 0 0;
					font-family: 'TradeGothicLTStdBoldCondensedNo.20';
					width: 100%;
					color: white;
					text-transform: uppercase;
					display: block;
					border: 1px solid #e42f8c;
					background-color: #e42f8c;
					font-size: 30px;
					line-height: 30px;
					height: 35px;
					border-radius: 5px;
*/
				}
			}
		}
	}
}

nav {
	&.steps {
		margin-top: 40px;
		@include respond-to(mobile) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&.offset {
			margin-top: 80px;
			@include respond-to(mobile) {
				margin-top: 120px;
				padding-bottom: 0;
			}
		}
		ul {
			display: block;
			width: 100%;
			list-style: none;
			padding: 0 80px 0 80px;
			color: white;
			text-transform: uppercase;
			text-align: center;
			@include respond-to(mobile) {
				background-color: white;
				padding: 20px 0 0 20px;
				margin: 0;
			}
			li {
				display: inline-block;
				width: 180px;
				height: 80px;
				vertical-align: middle;
				text-align: left;
				@include respond-to(mobile) {
					width: 100%;
					color: black;
					height: 60px;
				}

				span {
				    font-family: 'TradeGothicLTStdExtended';
					display: inline-block;
					vertical-align: middle;
				    &.step {
					    font-size: 30px;
						background-color: #05969b;
						width: 50px;
						height: 50px;
						text-align: center;
						line-height: 60px;
						border-radius: 25px;
						color: white;
						margin: 0 10px 0 10px;
						@include respond-to(mobile) {
							height: 40px;
							width: 40px;
							border-radius: 20px;
							font-family: 20px;
							line-height: 50px;
						}
						&.active {
							background-color: #d4d4d4;
							color: #10a1a6;
						}

						@include respond-to(mobile) {
							margin: 0 0 0 0;
						}
				    }
				    &.title {
				    	font-size: 12px;
					    width: 105px;
						font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
						@include respond-to(mobile) {
							margin-left: 10px;
/* 							font-family: 'TradeGothicLTStdBoldCondensedNo.20'; */
//							font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
							width: auto;
							font-weight: bold;
							font-size: 12px;
						}
				    }
				}
			}
		}

		&.uwbestelling {
			@include respond-to(mobile) {
				ul {
					padding-top: 20px;
					margin: 0;
					li {
						display: inline-block;
						width: 70px;
						span.active {
							border: 1px solid #b3b3b3;
							background-color: white;
						}
					}

				}
				span.title {
					display: none;
				}
			}
		}

	}
}

section {
	&.why {
		width: 100%;
		max-width: 960px;
		background-color: white;
		color: black;
		padding: 50px 80px 20px 80px;
		border-bottom: 1px solid #dfdfdf;
		@include respond-to(mobile) {
			display: none;
		}
		h2 {
		    font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
		    margin: 0 0 20px 0;
		}

		div {
			&.sprite-connect {
				@include use-sprite(connect);
			}

			&.sprite-unlimited {
				@include use-sprite(unlimited);
			}

			&.sprite-adfree {
				@include use-sprite(adfree);
			}
			&.sprite-musicquality {
				@include use-sprite(musicquality);
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: block;
			width: 100%;
			li {
				width: 398px;
				display: inline-block;
				div {
					&.icon {
						display: inline-block;
						height: 100px;


					}
					&.sprite {
						vertical-align: middle;
						text-align: center;
						float: left;
						margin-right: 16px;
					}
					&.content {
						display: inline-block;
						height: 100px;
						width: 300px;
						font-size: 16px;
						vertical-align: top;
						h3 {
							margin-top: 0;
							color: #0a9ca1;
							font-size: 20px;
							font-family: 'Source Sans Pro', sans-serif;
						}
					}
				}
			}
		}
	}

	&.devices {
		padding: 40px 80px 40px 80px;
		background-color: #f3f3f3;
		background-image: url(../img/png/devices.png);
		background-position: center bottom 80px;
		background-repeat: no-repeat;
		@include respond-to(mobile) {
			background-image: none;
			padding: 40px 20px 40px 20px;
		}



		h2 {
		    font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
		    margin-top: 0;
		}
		div.storelogos {
			width: 280px;
			margin-top: 20px;

			div.sprite-ios {
				@include use-sprite(ios);
			}

			div.sprite-android {
				@include use-sprite(android);
			}

			div.sprite-sonos {
				@include use-sprite(sonos);
			}
			div.sprite-windows {
				@include use-sprite(windows);
			}

			@include respond-to(mobile) {
				margin-top: -20px;
				margin-bottom: 20px;
				width: 100%;
				text-align: center;
			}

			ul{
				list-style: none;
				padding: 0;
				margin: 20px 0 0 0;
				width: 280px;
				display: inline-block;
				li {
					display: inline-block;
				}
			}
		}

		section.why-mobile {
			display: none;
			@include respond-to(mobile) {
				display: block;
			}

			div {
				&.sprite-connect {
					@include use-sprite(connect);
				}

				&.sprite-unlimited {
					@include use-sprite(unlimited);
				}

				&.sprite-adfree {
					@include use-sprite(adfree);
				}
				&.sprite-musicquality {
					@include use-sprite(musicquality);
				}
			}


			h2 {
				@include respond-to(mobile) {
					margin-bottom: 0;
				}
			}
			div.icon {
				width: 59px;
				display: inline-block;
				vertical-align: top;
				div {
					margin-top: 25px;
					margin-right: 10px;
				}
			}

			div.content {
				width: 200px;
				display: inline-block;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li.slide {
					height: 150px;
				}
			}

			.why-pagination{
				text-align: center;
				font-size: 20px;
				a {
					display: inline-block;
					padding: 5px;
					color: #acacac;
					&.selected {
					color: #33c5c9;
					}
				}
			}
		}

		aside {
			width: 280px;
			display: inline-block;
			h2 {
				width: 230px;
			}


			@include respond-to(mobile) {
				background-image: url(../img/png/devices.png);
				width: 100%;
				min-height: 340px;
				background-size: 100% auto;
				background-repeat: no-repeat;
				background-position: center bottom;
				padding-bottom: 150px;
			}

			@include respond-to(mobile-small) {
				padding-bottom: 50px;
				min-height: 240px;
			}
		}

		section.player {
			float: right;
			.sprite-phone {
				@include use-sprite(phone);
			}
			@include respond-to(mobile) {
				width: 100%;
				float: none;
				.sprite-phone {
					background-image: none;
					width: 100%;
					div.container {
						width: 100%;
					}
				}
			}

			div.container {
				padding: 0;
				position: relative;
				top: 41px;
				left: 0px;
				width:344px;
				height:588px;
				overflow: hidden;
			}
		}
	}
}

	section.howdoesthiswork {
		display: block;
		width: 100%;
		background-color: white;

		div.container {
			width: 960px;
			margin: 0 auto 0 auto;
			padding: 0;
			@include respond-to(mobile) {
				width: 100%;
			}

			h3 {
				margin-top: 30px;
				margin-left: 17px;
				font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size: 30px;
			}


			ul.faq {
				list-style: none;
				padding: 0;
				margin: 0;
				vertical-align: top;
				display: block;
				width: 960px;
				@include respond-to(mobile) {
					text-align: center;
					width: 100%;
				}
				li {
					text-align: left;
					color: white;
					vertical-align: top;
					padding: 20px 30px 20px 30px;
					background-color: #10a1a7;
					display: inline-block;
					width: 308px;
					min-height: 90px;
					aside {
						min-height: 90px;
					}
	//				-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
	//				transition: width 2s;
					@include respond-to(mobile) {
						width: 90%;
						margin-bottom: 10px;
					}
					h4 {
						font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
						font-size: 22px;
						height: 70px;
						display: block;
					}
					& + li {
						margin-left: 13px;
						@include respond-to(mobile) {
							margin-left: 0;
						}
					}

					div.read-more-container {
						bottom: 0px;
						width: 100%;
					}
					article {
						display: none;
						ul {
							padding: 0 0 0 10px;
							width: 100%;
							list-style-type: disc;
							li {
								display: list-item;
								list-style-type: disc;
								width: 100%;
								padding: 0;
								height: auto;
								min-height: 0;
							}
						}
					}

					div.read-less-container {
						display: none;
						margin-top: 20px;
					}
					a {
						position: relative;
						bottom: 10px;
						text-decoration: none;
						vertical-align: bottom;
						color: white;
						span {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}