article.uwbestelling {
	background-color: #f7f7f7;
	padding: 20px 75px 60px 75px;
	@include respond-to(mobile) {
		padding: 0;
		background-color: white;
		@include clearfix();
	}
	section.cartheader {
		@include respond-to(mobile) {
			background-color: #f7f7f7;
			border-top: 1px solid #e1e1e1;
			height: auto;
		}
		h1 {
			font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 35px;
			margin-bottom: 10px;
			@include respond-to(mobile) {
				margin-left: 40px;
				margin: 20px 0 -20px 10px;
				padding-bottom: 20px;
			}
		}
	}

	section.voucher {
		height: 137px;
		width: 100%;
		background-color: white;
		//@include shadow(curved);
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.55);

		@include respond-to(mobile) {
			height: auto;
			background-color: #f7f7f7;
			border-bottom: 1px solid #e1e1e1;
			box-shadow: none;
		}


		div.dreamgirl {
			width: 223px;
			height: 137px;
			display: inline-block;
			background-position: center center;
			background-size: 100% auto;
			background-image: url(../img/png/dreamgirl.png);
			@include respond-to(mobile) {
				width: 100%;
			}
			div.sprite {
				float: right;
				margin: 10px 10px 0 0;
			}
		}
		section {
			padding: 25px 0 0 20px;
			display: inline-block;
			width: 400px;
			height: 137px;
			vertical-align: top;
			font-size: 13px;
			@include respond-to(mobile) {
				padding: 20px 20px 0 20px;
				width: 100%;
			}
		}

		aside {
			font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 34px;
			color: #0fa1a6;
			float: right;
			width: 120px;
			margin-right: 30px;
			text-align: center;
			@include respond-to(mobile) {
				width: 100%;
				float: none;
				margin-top: -20px;
			}
			span {
				display:inline-block;
				position: relative;
				top: 40px;
				line-height: 35px;
				@include respond-to(mobile) {
					display: inline-block;
					margin: 0 auto 0 auto;
					position: static;
					top: auto;
					margin-top: 20px;
				}
			}
		}
	}

	section.form {
		@include respond-to(mobile) {
			background-color: #f7f7f7;
			border-bottom: 1px solid #e1e1e1;
			border-top: 1px solid #e1e1e1;
			margin-top: 20px;
			padding-left: 20px;
			padding: 0 20px 0 20px;
		}
		@include clearfix();

		a.button {
			float: right;
			margin: 20px 0 0 0;
//			padding: 0 20px 0 20px;
			padding-left: 20px;
			padding-right: 20px;

			@include respond-to(mobile) {
				width: 100%;
				margin-bottom: 20px;
			}
		}

		.subscribe {
			display: none;
			@include respond-to(mobile) {
				display: block;
				margin: 0 0 20px 0;
			}
			a {
				text-decoration: underline;
				color: #10a1a6;
			}
		}



		div.formheader {
			margin-top: 40px;
			h2 {
				font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
				@include respond-to(mobile) {
					font-size: 25px;
				}
			}
		}
		section.formcontent {
			background-color: white;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.55);
			padding: 40px 40px;
			width: 100%;

			.alert {
				display: none;
//				margin-bottom: -10px;
				@include respond-to(mobile) {
					margin-bottom: 10px;
				}
			}

			@include respond-to(mobile) {
				box-shadow: none;
				padding: 0;
				background-color: transparent;
			}

			p {

				&.intro-text {
					width: 95%;
					@include respond-to(mobile) {
						margin-top: -10px;
					}
				}
				&.explination {
					display: block;
					margin-top: 30px;
				}
				span {
					@include respond-to(mobile) {
						display: none;
					}
				}
			}

			form {
				margin-top: 20px;
				display: block;
				label {
					font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
					color: #10a1a6;
					font-size: 19px;
					width: 190px;
					vertical-align: top;
				}

				.form-group {
					margin-bottom: 10px;
					display: block;
				}

				.has-sub-group {
					@include respond-to(mobile) {
						label {
							color :black;
						}
						.form-sub-group {
							label {
								color: #10a1a6;
							}
						}
					}
				}
				.form-sub-group {
					display: inline-block;
					label {
						display: block;
					}

					&.small {
						width: 160px;
						@include respond-to(mobile) {
							width: 100%;
						}
						input {
							width: 150px;
							@include respond-to(mobile) {
								width: 100%;
							}
						}
					}

				}

				input {
					border: 1px solid black;
					border-radius: 0px;
					font-family: 'TradeGothicLTStdBoldCondensedNo.20', "Helvetica Neue",Helvetica,Arial,sans-serif;
					color: black;
					font-size: 19px;
					padding: 5px;
	  				width: 255px;

					@include respond-to(mobile) {
						width: 100%;
					}
		  			@include placeholder(){
			  			color: rgba(199,199,199,0.76);
		  			}

					&[type=number] {
						//-moz-appearance:textfield;
					}
					&[type=number]::-webkit-outer-spin-button, &[type=number]::-webkit-inner-spin-button {
					  -webkit-appearance: none;
					  margin: 0;
	  				}

	  				&.error {
		  				background-color: #f2dede;
		  				border: 1px solid #7d0609;
	  				}
				}
			}
		}
	}
}