/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */

//first we'll define the folders where the sprites are and their layouts
$icons: sprite-map("sprite/*.png", $layout: smart);
$icons-2x: sprite-map("sprite-2x/*.png", $layout: smart);

//Sprite mixin, works perfectly with standard defines
@mixin use-sprite($sprite, $retina-width: 0, $retina-height: 0, $retina-x: 0, $retina-y: 0) {
    background-image: sprite-url($icons);
    background-position: sprite-position($icons, $sprite);
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    height: image-height(sprite-file($icons, $sprite));
    width: image-width(sprite-file($icons, $sprite));

    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
        background-image: sprite-url($icons-2x);
        background-size: (image-width(sprite-path($icons-2x)) / 2) (image-height(sprite-path($icons-2x)) / 2);
        background-position: round(nth(sprite-position($icons-2x, $sprite), 1) / 2) + $retina-x round(nth(sprite-position($icons-2x, $sprite), 2) / 2) + $retina-y;
        height: ceil(image-height(sprite-file($icons-2x, $sprite)) / 2) + $retina-height;
        width: ceil(image-width(sprite-file($icons-2x, $sprite)) / 2) + $retina-width;

    }
}

/* Create the sprites */

//$sprite-layout:smart;
//@import "sprite/*.png";
//@include all-sprite-sprites (true);
//$height: icon-sprite-height(some_icon);
//$width: icon-sprite-width(some_icon);


.sprite {
	&.inline {
		display: inline-block;
	}
}
