/*****************************************************************
IMPORT COMPASS
- If you don't have Compass you can create your own mixins
for CSS3 or use bourbon etc.
******************************************************************/
@import "compass/css3";

/******************************************************************
IMPORT SHADOW TYPES
******************************************************************/
//@import "shadow-types";


@mixin shadow-lifted {
	&:before, &:after {
		bottom:12px;
		width:50%; height:55%;
		max-width:300px;
		max-height:100px;

		@include box-shadow(0 15px 10px rgba(black, .7));
	}

	&:before { left: 10px; @include rotate(-3deg); }
	&:after { right: 10px; @include rotate(3deg); }
}

@mixin shadow-perspective {
	&:before {
		left:80px; bottom:5px;
		width:50%; height:35%;
		max-width:200px;
		max-height:50px;

		@include box-shadow(-80px 0 8px rgba(black, .4));
		@include skew(50deg, 0 , false);
		@include experimental(transform-origin, 0 100%);
	}
	&:after { display: none; content: none; }
}

@mixin shadow-perspective-right {
	&:before {
		right:80px; bottom:5px;
		width:50%; height:35%;
		max-width:200px;
		max-height:50px;

		@include box-shadow(80px 0 8px rgba(black, .4));
		@include skew(-50deg, 0 , false);
		@include experimental(transform-origin, 0 100%);
	}
	&:after { display: none; content: none; }
}

@mixin shadow-raised {
	@include box-shadow(
		0 15px 10px -10px rgba(black, .5)
	);

	&:before, &:after {
		content: none;
	}
}

@mixin shadow-curved {
	&:before {
		top: 1px; bottom: 0;
		left:12px; right:12px;
		@include box-shadow(0 0 13px 4px rgba(black, .5));

		-moz-border-radius:150px / 10px;
		border-radius:150px / 10px;
	}
}

@mixin shadow-curved-top {
	@include shadow-curved();

	&:before {
		bottom: 50%;
	}
}

@mixin shadow-curved-bottom {
	@include shadow-curved();

	&:before {
		top: 50%;
	}
}

@mixin shadow-curved-vertical {
	&:before {
		top:10px; bottom:10px;
		left:0; right:0%;

		@include box-shadow(0 0 13px 4px rgba(black, .5));
		-moz-border-radius:10px / 100px;
		border-radius:10px / 100px;
	}
}

@mixin shadow-curved-vertical-left {
	@include shadow-curved-vertical();

	&:before {
		right: 50%;
	}
}

@mixin shadow-curved-vertical-right {
	@include shadow-curved-vertical();

	&:before {
		left: 50%;
	}
}


/******************************************************************
SHADOW MIXINS
******************************************************************/
@mixin shadow($type: lifted) {
	position: relative;

	&:before, &:after {
		position: absolute;
		z-index: -2;
		content: ''
	}

	@if $type == lifted { @include shadow-lifted(); }
	@if $type == perspective { @include shadow-perspective(); }
	@if $type == perspective-right { @include shadow-perspective-right(); }
	@if $type == raised { @include shadow-raised(); }
	@if $type == curved { @include shadow-curved(); }
	@if $type == curved-top { @include shadow-curved-top(); }
	@if $type == curved-bottom { @include shadow-curved-bottom(); }
	@if $type == curved-vertical { @include shadow-curved-vertical(); }
	@if $type == curved-vertical-left { @include shadow-curved-vertical-left(); }
	@if $type == curved-vertical-right { @include shadow-curved-vertical-right(); }
}

/******************************************************************
SHADOW CLASSES
******************************************************************/
$shadow_types:
	lifted,
	raised,
	perspective,
	perspective-right,
	curved,
	curved-top,
	curved-bottom,
	curved-vertical,
	curved-vertical-left,
	curved-vertical-right;

@each $type in $shadow_types {
	.shadow.#{$type} {
		@include shadow($type);
	}
}

// Map .shadow, with no other classes applied, to .shadow.lifted
$shadow_not_selector: '';
@each $type in $shadow_types {
	$shadow_not_selector: $shadow_not_selector + ":not(.#{$type})";
}
.shadow#{unquote($shadow_not_selector)} {
	@include shadow(lifted);
}