/* Create the sprites */

$sprite-layout:smart;
@import "icons/*.png";
@include all-sprite-sprites (true);
$height: icon-sprite-height(some_icon);
$width: icon-sprite-width(some_icon);


.sprite {
	&.inline {
		display: inline-block;
	}
}

/* SVG Fallback*/